#AppWindow {
    background: #1D1D1D
}
#logo_hl {
    background: rgba(0,0,0,0);
}

#text_launcher {
    color: #FFFFFF
}

#text_global_status {
    color: #005FFF
}

#text_status {
    color: #FFFFFF
}

#progress_bar {
    border: none;
    border-radius: 5px;
    background-color: #323232;
}

#progress_bar::chunk {
    border-radius: 4px;
    background-color: #005FFF;
    margin: 1px;
}

#github {
    background: rgba(0,0,0,0);
    border: none
}

#first_version_step_1 {
    border-radius: 9px;
    background-color: #2D2D2D;
}

#first_version_step_2 {
    border-radius: 9px;
    background-color: #252525;
}

#ellips_first_version_step_1 {
    background-color: #005FFF; 
    border-radius: 4px;
}

#ellips_first_version_step_2 {
    background-color: #4B4B4B; 
    border-radius: 4px;
}

#text_first_version_step_1 {
    color: #FFFFFF;
}

#text_first_version_step_2 {
    color: #585B5D;
}

#two_version {
    background-color: #2D2D2D;
    border-radius: 9px;
}
#ellips_two_version {
    background-color: #005FFF; 
    border-radius: 4px;
}

#text_two_version {
    color: #FFFFFF;
}

#text_speed {
    color: #999999;
    background: rgba(0,0,0,0)
}

#text_speed_realtime {
    color: #FFFFFF;
    background: rgba(0,0,0,0)
}

#text_approximate_time {
    color: #999999;
    background: rgba(0,0,0,0)
}