#AppWindow {
    background: #F5F5F5
}
#logo_hl {
    background: rgba(0,0,0,0);
}

#text_launcher {
    color: #000000
}

#text_global_status {
    color: #005FFF
}

#text_status {
    color: #000000
}

#progress_bar {
    border: none;
    border-radius: 5px;
    background-color: #DFDFDF;
}

#progress_bar::chunk {
    border-radius: 4px;
    background-color: #005FFF;
    margin: 1px;
}

#github {
    background: rgba(0,0,0,0);
    border: none
}

#first_version_step_1 {
    border-radius: 9px;
    background-color: #E3E3E3;
}

#first_version_step_2 {
    border-radius: 9px;
    background-color: #ECECEC;
}

#ellips_first_version_step_1 {
    background-color: #005FFF; 
    border-radius: 4px;
}

#ellips_first_version_step_2 {
    background-color: #C7C7C7; 
    border-radius: 4px;
}

#text_first_version_step_1 {
    color: #000000;
}

#text_first_version_step_2 {
    color: #ADB0BA;
}

#two_version {
    background-color: #E3E3E3;
    border-radius: 9px;
}
#ellips_two_version {
    background-color: #005FFF; 
    border-radius: 4px;
}

#text_two_version {
    color: #000000;
}

#text_speed {
    color: #656976;
    background: rgba(0,0,0,0)
}

#text_speed_realtime {
    color: #000000;
    background: rgba(0,0,0,0)
}

#text_approximate_time {
    color: #656976;
    background: rgba(0,0,0,0)
}

/* Error window*/

#ErrorDialog {
    background: #F5F5F5;
}

#cross {
    background: rgba(0,0,0,0)
}

#ellips_error {
    background: #ffffff;
    border-radius: 35px;
}

#text_error {
    color: #000000;
}

#text_error_message {
    color: #656976
}

#box_footer {
    background: #FFFFFF;
}

#version_update_launcher {
    color: #A2A2A2;
}

#text_type_error {
    color: #A33301;
}

#send_report_button {
    background: #005FFF;
    color: #ffffff;
    border-radius: 12px;
}

#send_report_button:hover {
    background: #0055E6; /*+8*/
}

#copy_log_button {
    background: #656976;
    color: #E3E3E3;
    border-radius: 12px;
}

#copy_log_button:hover {
    background: #5D606C;
}