/* Error window*/

#ErrorDialog {
    background: #1D1D1D;
}

#cross {
    background: rgba(0,0,0,0)
}

#ellips_error {
    background: #181818;
    border-radius: 35px;
}

#text_error {
    color: #ffffff;
}

#text_error_message {
    color: #999999
}

#box_footer {
    background: #181818;
}

#version_update_launcher {
    color: #6C6C6C;
}

#text_type_error {
    color: #A33301;
}

#send_report_button {
    background: #0055E6;
    color: #ffffff;
    border-radius: 12px;
}

#send_report_button:hover {
    background: #004ED1; /*+8*/
}

#copy_log_button {
    background: #262626;
    color: #999999;
    border-radius: 12px;
}

#copy_log_button:hover {
    background: #242424;
}

/* Window Authorization */

#HiveLauncher {
    background: #1D1D1D;
}

#logo_auth {
    background: rgba(0,0,0,0);
}

#auth_text_1 {
    color: #FFFFFF;
}

#auth_text_2 {
    color: #777C8C;
}

#auth_panel_user {
    background: #181818;
    border-radius: 24px;
}

#auth_text_select_account {
    color: #777C8C;
}

#auth_text_count_saved {
    color: #005FFF;
}

#accountCard {
    background-color: #1D1D1D;
    border-radius: 26px;
}

#accountCard:hover {
    background-color: #202020;
}

#name_account_in_card {
    color: #FFFFFF; 
    background: transparent;
} 

#time_account_in_card {
    color: #999999; 
    background: transparent;
}

#auth_button_auth_new_account {
    color: #FFFFFF;
    background: #1D1D1D;
    border-radius: 16px;
}

#auth_button_auth_new_account:hover {
    background: #202020;
}

#auth_text_change_theme {
    color: #48494B;
}

#auth_text_change_theme:hover {
    color: #525355;
}

#auth_qlineedit_1 {
    background: #1D1D1D;
    border-radius: 12px;
    color: #FFFFFF;
}

#auth_button_login_to_account {
    background: rgba(0, 95, 255, 0.6);
    color: #FFFFFF;
    border-radius: 12px;
}

#auth_button_login_to_account:hover {
    background: rgba(0, 95, 255, 0.7);
}

#auth_btn_back {
    border: none;
    background: #181818;
    color: #005FFF;
}

#auth_btn_back:hover {
    color: rgba(0, 95, 255, 0.9);
}