/* Error window*/

#ErrorDialog {
    background: #F5F5F5;
}

#cross {
    background: rgba(0,0,0,0)
}

#ellips_error {
    background: #ffffff;
    border-radius: 35px;
}

#text_error {
    color: #000000;
}

#text_error_message {
    color: #656976
}

#box_footer {
    background: #FFFFFF;
}

#version_update_launcher {
    color: #A2A2A2;
}

#text_type_error {
    color: #A33301;
}

#send_report_button {
    background: #005FFF;
    color: #ffffff;
    border-radius: 12px;
}

#send_report_button:hover {
    background: #0055E6; /*+8*/
}

#copy_log_button {
    background: #656976;
    color: #E3E3E3;
    border-radius: 12px;
}

#copy_log_button:hover {
    background: #5D606C;
}

/* Window Authorization */

#HiveLauncher {
    background: #F5F5F5;
}

#logo_auth {
    background: rgba(0,0,0,0);
}

#auth_text_1 {
    color: #000000;
}

#auth_text_2 {
    color: #656976;
}

#auth_panel_user {
    background: #ffffff;
    border-radius: 24px;
}

#auth_text_select_account {
    color: #656976;
}

#auth_text_count_saved {
    color: #005FFF;
}

#accountCard {
    background-color: #F5F5F5;
    border-radius: 26px;
}

#accountCard:hover {
    background-color: #EBEBEB;
}

#name_account_in_card {
    color: #000000; 
    background: transparent;
} 

#time_account_in_card {
    color: #4C4F5E; 
    background: transparent;
}

#auth_button_auth_new_account {
    color: #000000;
    background: #F5F5F5;
    border-radius: 16px;
}

#auth_button_auth_new_account:hover {
    background-color: #EBEBEB;
}

#auth_text_change_theme {
    color: #B7B6B4;
}

#auth_text_change_theme:hover {
    color: #acaba9;
}

#auth_qlineedit_1 {
    background: #F5F5F5;
    border-radius: 12px;
    color: #000000;
}

#auth_button_login_to_account {
    background: rgba(0, 95, 255, 1);
    color: #FFFFFF;
    border-radius: 12px;
}

#auth_button_login_to_account:hover {
    background: #0156E4;
}

#auth_btn_back {
    border: none;
    background: #FFFFFF;
    color: #005FFF;
}

#auth_btn_back:hover {
    color: #0156E4;
}